//**UTILS**//
@import './utils/variables';
@import './utils/common';
@import './utils/button';
@import './utils/utils';

//**MAIN__HEADER**//
@import './sections/01-main__header/main-header';
@import './sections/01-main__header/logo';
@import './sections/01-main__header/navigation';
@import './sections/01-main__header/contact-nav';

//**MAIN__BANER**//
@import './sections/02-main__baner/main-baner';

//**MAIN__BENEFIT**//
@import './sections/03-main__benefit/main-benefit';

//**MAIN__PHILOSOPHY**//
@import './sections/04-main__philosophy/main-philosophy';

//**MAIN__TEAM**//
@import './sections/05-main__team/main-team';
@import './sections/05-main__team/icon-team';

//**MAIN__CLIENT**//
@import './sections/06-main__client/main-client';

//**MAIN__FOOTER**//
@import './sections/07-main__footer/main-footer';
@import './sections/07-main__footer/contact-list';
@import './sections/07-main__footer/platform-site';
@import './sections/07-main__footer/support-site';

//**MAIN__PORTFOLIO**//
@import './sections/08-main__portfolio/main-filter.scss';
@import './sections/08-main__portfolio/project-list';

//**MODAL**//
@import './sections/modal/main-modal';
@import './sections/modal/modal-form';

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
